<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="consumerManager" class="com.atlassian.crowd.openid.client.util.ProxiableConsumerManagerFactory"
          factory-method="createConsumerManager"/>
    <bean id="crowdConsumer" class="com.atlassian.crowd.openid.client.consumer.OpenID4JavaConsumer">
        <property name="consumerManager" ref="consumerManager"/>
    </bean>

</beans>
