<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- An abstract template for a class requiring transactions  -->
    <bean id="txReadWriteProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean"
          abstract="true">
        <property name="transactionManager" ref="transactionManager"/>
        <property name="transactionAttributes">
            <props>
                <prop key="*">PROPAGATION_REQUIRED</prop>
            </props>
        </property>
    </bean>

    <bean id="userManager" parent="txReadWriteProxy">
        <property name="target">
            <bean class="com.atlassian.crowd.openid.server.manager.user.UserManagerGeneric">
                <constructor-arg ref="userDAO"/>
                <constructor-arg ref="authRecordDAO"/>
                <constructor-arg ref="openIDPropertyManager"/>
                <constructor-arg ref="profileManager"/>
                <constructor-arg ref="crowdClient"/>
            </bean>
        </property>
    </bean>

    <bean id="profileManager" parent="txReadWriteProxy">
        <property name="target">
            <bean class="com.atlassian.crowd.openid.server.manager.profile.ProfileManagerGeneric">
                <constructor-arg ref="attributeDAO"/>
                <constructor-arg ref="userDAO"/>
                <constructor-arg ref="profileDAO"/>
                <constructor-arg ref="siteApprovalDAO"/>
            </bean>
        </property>
    </bean>

    <bean id="whitelistResourceLocator" class="com.atlassian.crowd.service.client.ClientResourceLocator">
        <constructor-arg index="0" value="crowdid.approval-whitelist"/>
        <constructor-arg index="1" value="${crowd.openid.home}"/>
    </bean>

    <bean id='siteApprovalWhitelist'
          class='com.atlassian.crowd.openid.server.manager.site.ApprovalWhitelist'
          factory-method='fromResourceLocator'>
        <constructor-arg ref="whitelistResourceLocator"/>
    </bean>

    <bean id="authRecordManager" parent="txReadWriteProxy">
        <property name="target">
            <bean class="com.atlassian.crowd.openid.server.manager.record.AuthRecordManagerGeneric">
                <constructor-arg ref="authRecordDAO"/>
            </bean>
        </property>
    </bean>

    <bean id="siteManager" parent="txReadWriteProxy">
        <property name="target">
            <bean class="com.atlassian.crowd.openid.server.manager.site.SiteManagerGeneric">
                <constructor-arg ref="siteDAO"/>
                <constructor-arg ref="addressRestrictionDAO"/>
                <constructor-arg ref="siteApprovalWhitelist"/>
                <constructor-arg ref="openIDPropertyManager"/>
                <constructor-arg ref="profileManager"/>
                <constructor-arg ref="siteApprovalDAO"/>
            </bean>
        </property>
    </bean>

    <bean id="openIDPropertyManager" parent="txReadWriteProxy">
        <property name="target">
            <bean class="com.atlassian.crowd.openid.server.manager.property.OpenIDPropertyManagerGeneric">
                <constructor-arg ref="propertyDAO"/>
                <property name="defaultProperties">
                    <props>
                        <prop key="adminGroup">crowd-administrators</prop>
                        <prop key="enableReplyingPartyLocalhostMode">true</prop>
                        <prop key="enableCheckImmediateMode">true</prop>
                        <prop key="enableStatelessMode">true</prop>
                        <prop key="trustRelationshipRestrictionType">0</prop>
                    </props>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="openIDAuthenticationManager" parent="txReadWriteProxy">
        <property name="target">
            <bean class="com.atlassian.crowd.openid.server.manager.openid.OpenIDAuthenticationManagerGeneric">
                <constructor-arg ref="openIDPropertyManager"/>
                <constructor-arg ref="userManager"/>
                <constructor-arg ref="authRecordManager"/>
                <constructor-arg ref="siteManager"/>
            </bean>
        </property>
    </bean>

    <bean id="forgottenLoginManager" parent="txReadWriteProxy">
        <property name="target">
            <bean class="com.atlassian.crowd.openid.server.manager.login.ForgottenLoginManagerImpl">
                <constructor-arg ref="crowdClient"/>
            </bean>
        </property>
    </bean>

</beans>
